.Home {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: red;
    width: 500px;
    height: 900px;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}

img {
    width: 100px;
    height: 80px;
}


.home-background {
  background-color: #dc3545; /* vermelho Bootstrap (danger) */
  min-height: 100vh;
  padding: 20px 0;
}