div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: rgba(189, 40, 40, 0.781);
    width: 500px;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    overflow: auto;

}

img{
    width: 100px;
    height: 80px;
}
