.PokeFlex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: rgba(189, 40, 40, 0.781);
    width: 500px;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
}

img {
    width: 100px;
    height: 80px;
}


 